$blue-background: rgb(164, 201, 255);
$dark-blue: rgb(55, 98, 204);
$pink: rgb(249, 167, 167);
$lime-green: rgb(255, 234, 145);
$gray-background: rgb(224, 235, 252);
$blue-button: #3762cc;
$white-text: #fff;
$blue-cards: rgba(55, 97, 204, 0.144);
