@import "./colors.scss";

#perfil{
  background: $blue-cards;

  #user-img{
    width: 35%;
    align-self: center;
    padding-top: 1em;
  }

  .card-body{
    display: flex;
    flex-direction: column;
    .info{
      display: flex;
      margin-bottom: 1em;
      .info-user{
        background: $white-text;
        width: 80%;
        padding: 0.45em;
      }
      .info-icon{
        padding: .375rem .75rem;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-radius: .25rem;
      }      
    }

    a{
      align-self: flex-end;
      margin-top: 20px;
    }
    #save-info{
      align-self: flex-end;
    }
  }
}

#tarjeta-usuario{
  background: $blue-cards;

  .card-body{
    display: flex;
    border-bottom-color: $dark-blue;
    border-bottom-style: ridge; 
  }
  #div-img{
    width: 25%;
    margin-right: 1em;
    #img-tarjeta{
      width: 100%;
    }
  }
  .card-footer{
    font-size: x-small;
    align-self: center;
  }

}

#pedidos-usuario{
  background: $blue-cards;
  margin-bottom: 1.5em;

  .card-body{ display: flex; }
  #div-imgP{
    width: 25%;
    margin-right: 1em;
    #img-pedidos{ width: 100%; }
  }
  .list-group .card-body{
    margin: 0px; padding: 0px;

    .img-prenda{
      width: min-content;
      align-self: center;
      img{ width: 100%;}
    }
    .info-pedido{
      padding-left: 1em;
      width: 100%;
      .precio{
        margin-left: 65%;
        font-size: x-large;
      }
    }
    .alert-pedido{font-size: larger;}
    p{ margin: 0px;}
  }
}