@import "./colors.scss";

body{
  background: $gray-background;
  
  header{
    background: $blue-background;
    width: 100%;
    display: flex;
    
    h1{
      display: flex;
      align-items: center;
      margin: 0px;

      #image-header{
        margin-left: 20px;

        img{
          padding: 4px;
          width: 65px;
          height: 65px;
        }
      }
      #title-header{ margin-left: 15px; } 
    }

    #menu-nav{
      align-content: center;
      width: inherit;

      #nav-list{
        margin-right: 2.3em;

        i{ margin-right: 0.15em;}
      }
    }
  }
  .breadcrumb{
    background-color: transparent;
    border-bottom-style: groove;
    margin: 0px 50px 0px 20px;
  }
}