@import "./colors.scss";

/*
font-family: 'Acme', sans-serif;
font-family: 'Fresca', sans-serif;
font-family: 'Bree Serif', serif;
*/
body{
  background: $gray-background;
  
  header{
    background: $blue-background;
    width: 100%;
    display: flex;
    
    h1{
      display: flex;
      align-items: center;
      margin: 0px;

      #image-header{
        margin-left: 20px;

        img{
          padding: 5px;
          width: 65px;
          height: 65px;
        }
      }
      #title-header{
        margin: 0px 15px; 
        color: $white-text;
        font-family: 'Fresca', sans-serif;
      } 
    }

    #menu-nav{
      align-content: center;
      width: inherit;
      padding: 0px 25px;

      label{
        color: $white-text;
        font-family: 'Fresca', sans-serif;
        font-size: 1.2em;
      }
      .navbar-brand{ margin-right: 5px;}

      #nav-list{
        width: 100%;
        justify-content: center;
        .nav-item{
          margin: 5px 15px;
          border-style: groove;
          border-radius: 10px;
          border-color: $blue-button;
          border-width: 0.1em;

          .nav-link{
            padding-left: 10px;
            padding-right: 10px;
            color: $white-text;
          }
          .nav-link:hover{
            color: #007bff;
          }
        }
        #logout{ 
          margin-left: auto;
        }
      }
    }
  }
  .breadcrumb{
    background-color: transparent;
    border-bottom-style: groove;
    margin: 0px 50px 0px 20px;
  }
}

@media screen and (max-width: 991px) {
  #navbarNavDropdown{ width: auto; }
  #logout{ margin-left: 15px; }
  
}
@media screen and (min-width: 992px) {
  #navbarNavDropdown{ width: 100%; }
  .nav-link{ text-align: center;}
}